In [35]:
import pandas as pd
import dask.dataframe as dd
import matplotlib.pyplot as plt
import seaborn as sbs

In [21]:
cps_bigboi = pd.read_csv("../data/raw/cps_00050.zip", nrows=100000)

In [54]:
cps_bigboi = pd.read_csv("../data/raw/cps_00050.zip")

In [39]:
cps_bigboi.shape

(1578977, 161)

In [53]:
cps_bigboi.describe()

,BUNBANKED,BUNDERBANKREAS,BACCTEV,BCHECKEV,BCHECK12M,BCHECKREAS,BPAYDAY,BPAYDAYOFT,BPAYDAYREAS,BCHECK30D,BPAYDAY12M,BPAYDAY30D,BINCWHERE,BBILLCASH,BBILLCHECK,BCREDITAPP,BCREDITDENY,BSAVECACCT,BINC12M,BINTERNET
count,654904.000000,267633.000000,654904.000000,133950.000000,520954.000000,267633.000000,399425.000000,133950.000000,267633.000000,265475.000000,654904.000000,265475.000000,255479.000000,255479.000000,255479.000000,255479.000000,255479.000000,255479.000000,255479.000000,255479.000000
mean,23.792127,91.213322,94.036700,17.552639,63.534863,89.225174,22.014849,968.624367,95.378313,93.091221,73.226303,97.417538,96.646840,37.908920,40.992536,38.914408,90.022014,63.899808,38.360832,38.136614
std,41.243636,25.992161,21.422243,35.693795,46.746168,29.014576,39.251085,171.194138,18.292134,23.263638,42.840896,12.313190,14.967882,46.886392,47.891118,47.109122,28.141991,46.685856,47.338079,47.358322
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,99.000000,99.000000,2.000000,2.000000,99.000000,2.000000,999.000000,99.000000,99.000000,2.000000,99.000000,99.000000,2.000000,1.000000,2.000000,99.000000,2.000000,1.000000,1.000000
50%,1.000000,99.000000,99.000000,2.000000,99.000000,99.000000,2.000000,999.000000,99.000000,99.000000,99.000000,99.000000,99.000000,2.000000,2.000000,2.000000,99.000000,99.000000,2.000000,1.000000
75%,2.000000,99.000000,99.000000,2.000000,99.000000,99.000000,2.000000,999.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
max,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,999.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000

In [55]:
cps_bigboi.columns

Index(['YEAR', 'SERIAL', 'MONTH', 'HWTFINL', 'CPSID', 'REGION', 'STATEFIP',
       'COUNTY', 'BPSUPINT', 'BUNBANKED',
       ...
       'QCINTSCH', 'QCINTUSE', 'QCINUMCMP', 'QCISTPNET', 'QCIUSECMP', 'CIPWT',
       'CISUPPWT', 'UBSUPPWT', 'BPACCT', 'BWHOACCT'],
      dtype='object', length=161)

In [56]:
cps_bigboi = cps_bigboi[["BUNBANKED", "BUNDERBANKREAS", "BACCTEV", "BCHECKEV", "BCHECK12M", "BCHECKREAS", 
                 "BPAYDAY", "BPAYDAYOFT", "BPAYDAYREAS", "BCHECK30D", "BPAYDAY12M", "BPAYDAY30D", "BINCWHERE", 
                 "BBILLCASH", "BBILLCHECK", "BCREDITAPP", "BCREDITDENY", "BSAVECACCT", "BINC12M", "BINTERNET", 
                         "BPSUPINT"]]

In [57]:
cps_bigboi.isnull().sum()

BUNBANKED          924073
BUNDERBANKREAS    1311344
BACCTEV            924073
BCHECKEV          1445027
BCHECK12M         1058023
BCHECKREAS        1311344
BPAYDAY           1179552
BPAYDAYOFT        1445027
BPAYDAYREAS       1311344
BCHECK30D         1313502
BPAYDAY12M         924073
BPAYDAY30D        1313502
BINCWHERE         1323498
BBILLCASH         1323498
BBILLCHECK        1323498
BCREDITAPP        1323498
BCREDITDENY       1323498
BSAVECACCT        1323498
BINC12M           1323498
BINTERNET         1323498
BPSUPINT           924073
dtype: int64

In [58]:
cps_bigboi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1578977 entries, 0 to 1578976
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   BUNBANKED       654904 non-null  float64
 1   BUNDERBANKREAS  267633 non-null  float64
 2   BACCTEV         654904 non-null  float64
 3   BCHECKEV        133950 non-null  float64
 4   BCHECK12M       520954 non-null  float64
 5   BCHECKREAS      267633 non-null  float64
 6   BPAYDAY         399425 non-null  float64
 7   BPAYDAYOFT      133950 non-null  float64
 8   BPAYDAYREAS     267633 non-null  float64
 9   BCHECK30D       265475 non-null  float64
 10  BPAYDAY12M      654904 non-null  float64
 11  BPAYDAY30D      265475 non-null  float64
 12  BINCWHERE       255479 non-null  float64
 13  BBILLCASH       255479 non-null  float64
 14  BBILLCHECK      255479 non-null  float64
 15  BCREDITAPP      255479 non-null  float64
 16  BCREDITDENY     255479 non-null  float64
 17  BSAVECACCT      255479 non-null  float64
 18  BINC12M         255479 non-null  float64
 19  BINTERNET       255479 non-null  float64
 20  BPSUPINT        654904 non-null  float64
dtypes: float64(21)
memory usage: 253.0 MB

In [60]:
#isolated those who responded to question battery about underbanked status
cps_bigboi_sub = cps_bigboi[cps_bigboi.BPSUPINT==1]

In [72]:
cps_bigboi_sub.BUNBANKED.value_counts()

1.0    463804
2.0     34191
Name: BUNBANKED, dtype: int64

In [73]:
cps_bigboi_sub.BUNDERBANKREAS.value_counts()

99.0    204546
2.0       8466
10.0      5096
1.0       3487
8.0       1427
3.0       1150
4.0        899
5.0        478
6.0        420
7.0        369
97.0       350
11.0       209
96.0       126
9.0         49
98.0        18
Name: BUNDERBANKREAS, dtype: int64

In [65]:
#Missing Variable %s
cps_bigboi_sub.isnull().sum()*100/len(cps_bigboi_sub)

BUNBANKED          0.000000
BUNDERBANKREAS    54.399141
BACCTEV            0.000000
BCHECKEV          76.725871
BCHECK12M         23.274129
BCHECKREAS        54.399141
BPAYDAY           34.252151
BPAYDAYOFT        76.725871
BPAYDAYREAS       54.399141
BCHECK30D         57.526280
BPAYDAY12M         0.000000
BPAYDAY30D        57.526280
BINCWHERE         65.747849
BBILLCASH         65.747849
BBILLCHECK        65.747849
BCREDITAPP        65.747849
BCREDITDENY       65.747849
BSAVECACCT        65.747849
BINC12M           65.747849
BINTERNET         65.747849
BPSUPINT           0.000000
dtype: float64

In [ ]:
cps_bigboi_sub

In [64]:
cps_bigboi_sub.shape

(497995, 21)

In [61]:
cps_bigboi_sub.describe()

,BUNBANKED,BUNDERBANKREAS,BACCTEV,BCHECKEV,BCHECK12M,BCHECKREAS,BPAYDAY,BPAYDAYOFT,BPAYDAYREAS,BCHECK30D,...,BPAYDAY30D,BINCWHERE,BBILLCASH,BBILLCHECK,BCREDITAPP,BCREDITDENY,BSAVECACCT,BINC12M,BINTERNET,BPSUPINT
count,497995.000000,227090.000000,497995.000000,115904.000000,382091.000000,227090.000000,327421.000000,115904.000000,227090.000000,211517.000000,...,211517.000000,170574.000000,170574.000000,170574.000000,170574.000000,170574.000000,170574.000000,170574.000000,170574.000000,497995.0
mean,1.068657,89.823145,92.472856,4.871463,50.645799,87.480048,5.084845,963.894948,94.731723,91.583892,...,97.013852,95.475530,7.500193,12.118711,9.006173,85.553127,46.428319,8.177049,7.841224,1.0
std,0.252871,27.990191,24.357753,16.695634,48.539995,31.177547,17.013752,183.587984,19.788382,25.847210,...,13.765535,18.205134,22.587053,30.440094,25.146934,33.557313,48.435194,24.797829,24.443669,0.0
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0
25%,1.000000,99.000000,99.000000,2.000000,2.000000,99.000000,2.000000,999.000000,99.000000,99.000000,...,99.000000,99.000000,2.000000,1.000000,2.000000,99.000000,2.000000,1.000000,1.000000,1.0
50%,1.000000,99.000000,99.000000,2.000000,96.000000,99.000000,2.000000,999.000000,99.000000,99.000000,...,99.000000,99.000000,2.000000,1.000000,2.000000,99.000000,2.000000,1.000000,1.000000,1.0
75%,1.000000,99.000000,99.000000,2.000000,99.000000,99.000000,2.000000,999.000000,99.000000,99.000000,...,99.000000,99.000000,2.000000,2.000000,2.000000,99.000000,99.000000,2.000000,1.000000,1.0
max,2.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,999.000000,99.000000,99.000000,...,99.000000,99.000000,98.000000,99.000000,98.000000,99.000000,99.000000,98.000000,98.000000,1.0

In [77]:
#isolating those that identify as underbanked
underbanked_sub = cps_bigboi_sub[cps_bigboi_sub.BUNBANKED==1]

In [78]:
underbanked_sub.isnull().sum()*100/len(underbanked_sub)

BUNBANKED          0.000000
BUNDERBANKREAS    54.575640
BACCTEV            0.000000
BCHECKEV          76.767341
BCHECK12M         23.232659
BCHECKREAS        54.575640
BPAYDAY           34.460246
BPAYDAYOFT        76.767341
BPAYDAYREAS       54.575640
BCHECK30D         57.692905
BPAYDAY12M         0.000000
BPAYDAY30D        57.692905
BINCWHERE         65.539754
BBILLCASH         65.539754
BBILLCHECK        65.539754
BCREDITAPP        65.539754
BCREDITDENY       65.539754
BSAVECACCT        65.539754
BINC12M           65.539754
BINTERNET         65.539754
BPSUPINT           0.000000
dtype: float64

In [87]:
print("Missing Value Percentages:")
underbanked_sub.BCHECKEV.value_counts()*100/len(underbanked_sub)

Missing Value Percentages:

2.0     20.610430
1.0      1.991358
99.0     0.434882
96.0     0.071151
97.0     0.065761
98.0     0.059077
Name: BCHECKEV, dtype: float64

In [88]:
underbanked_sub.BCHECKEV.describe()

count    107754.000000
mean          4.530876
std          15.679487
min           1.000000
25%           2.000000
50%           2.000000
75%           2.000000
max          99.000000
Name: BCHECKEV, dtype: float64